<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <input type="text" class="form-control" style="" placeholder="Please paste related URL" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button">Transfer</button>
  </div>
</div>
